@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* common */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1;
}

*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", "Roboto" Sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #222;
  word-break: break-all;
  letter-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #222;
}

a {
  text-decoration: none;
  outline-offset: 1px;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

dl,
ol,
ul,
dt,
dd,
li {
  display: block;
  list-style: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  height: 0;
  opacity: 0;
}

th,
td {
  border-collapse: collapse;
  vertical-align: middle;
}

button {
  overflow: visible
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  width: auto;
  cursor: pointer;
  overflow: visible;
  vertical-align: middle;
  background: transparent;
  cursor: pointer;
  font-family: "Noto Sans KR", Sans-serif;
}

button span,
button:active span,
button:focus span {
  position: relative
}

select,
textarea,
input {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
}

select {
  height: 40px;
  padding: 0 10px 0 10px;
}

input {
  border: 0;
}

em,
i {
  font-style: normal;
  text-decoration: none;
}

hr {
  position: relative;
  display: block;
  height: 1px;
  border: 0;
  background: #eee;
  margin: 30px 0;
}

img {
  border: 0;
}


/* keep-all */
.keep-word {
  word-break: keep-all !important;
}

/* a */
a {
  cursor: pointer;
}

/* a.link */
a.link-under {
  color: #1F40AA;
  text-decoration: underline;
}

/* hide style */
.hide {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  color: transparent !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: 0 !important;
  padding: 0 !important;
}
/* 색상 스타일 */
.inner { width: 1280px; margin: 0 auto; }
:root { 
  --mainColor : #1F40AA; --subColor : #23A6C3; --oneColor:#EF4B81; --twoColor:#8b1faa; --fourColor:#EDF2F6; 
  --mainFontColor : #333333; --subFontColor : #ffffff; --resetFontColor : #fff; --bgColorBlack : #000;
  --lineBaseColor :  #dedede; --bgColorWhite : #fff;
}