@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body { font-family: 'Noto Sans KR', 'Roboto', sans-serif; min-width: 1200px;}
* { margin: 0; padding: 0; box-sizing: border-box;}
a { color: inherit; text-decoration: none;}
li { list-style: none;}
img { display: block;} 
.layout { max-width: 1200px; height: 100%; margin: 0 auto;}

/* 색상 스타일 */
:root { --mainColor : #233DC3; --subColor : #23A6C3; --oneColor:#FF3C7F; --twoColor:#923CFF; --fourColor:#EDF2F6; --mainFontColor : #333333; --subFontColor : #ffffff;}

div#wrap { width: 100vh; height: 100%;}

/* 스킵네비 */
#skipNav { position: relative; z-index: 9999; text-align: center; } 
#skipNav a { position: absolute; top: -200px; left: 0; width: 100%; line-height: 30px; border: 1px solid #dedede; background-color: #000; color: #fff; } 
#skipNav a:focus,#skipNav a:active { top: 0; } 


/* Header */
div#wrap div.header_wrap { background: #fff; transition: all 0.3s ease; position: fixed; width: 100%; top: 0; z-index: 99; outline: 1px solid blue;} 

div#wrap > div.header_wrap > div.topwrap { background-color: var(--fourColor); height: 34px; line-height: 34px; } 

div#wrap > div.header_wrap > div.topwrap > div.util { width: 1200px; margin: 0 auto; display: flex; justify-content: space-between;} 
div#wrap > div.header_wrap > div.topwrap > div.util p { font-size: 0.8rem; color: 666; } 
div#wrap > div.header_wrap > div.topwrap > div.util li { position: relative; display: inline-block; padding-left: 10px; padding-right: 10px; } 
div#wrap > div.header_wrap > div.topwrap > div.util li:last-child:before { display: none; } 
div#wrap > div.header_wrap > div.topwrap > div.util li:before { display: block; position: absolute; top: 13px; right: 0; width: 1px; height: 10px; background: #cecece; } 
div#wrap > div.header_wrap > div.topwrap > div.util li a { font-size: 0.8rem; color: #666; } 
div#wrap > div.header_wrap > div.topwrap > div.util li:last-child { padding-right: 0; } 


div#wrap > div.header_wrap > div.header_inner { width: 1200px; margin: 0 auto; display: flex; justify-content: space-between;} 
div#wrap > div.header_wrap > div.header_inner h1 {  } 
div#wrap > div.header_wrap > div.header_inner h1 a { display: block; background: url(../img/main/logo.png) no-repeat 50% 50%; width: 254px; height: 88px; overflow: hidden; text-indent: -9999px; background-size: 100% auto; transition: all 0.3s ease; } 
div#wrap > div.header_wrap > div.header_inner > div.top_nav_wrap > ul#gnb { z-index: 30;}
div#wrap > div.header_wrap > div.header_inner > div.top_nav_wrap > ul#gnb > li.menu {display: inline-block;  padding: 0px 18px; font-weight:700; float:left; }
div#wrap > div.header_wrap > div.header_inner > div.top_nav_wrap > ul#gnb > li.menu > a.nav_menu_a:hover,
div#wrap > a.nav_menu_a:focus, a.nav_menu_a:active {color:var(--mainColor); }
div#wrap > div.header_wrap > div.header_inner > div.top_nav_wrap > ul#gnb > li.menu > a.nav_menu_a { display: inline-block; line-height: 88px; font-size: 1.1rem; color: var(--mainFontColor); transition: all 0.3s ease; text-align: center; } 
div#wrap > div.header_wrap > div.header_inner > div.top_nav_wrap > ul#gnb > li.menu > a.last_a { background: none; } 
div#wrap > div.header_wrap > div.header_inner > div.utilmenu { }
div#wrap > div.header_wrap > div.header_inner > div.utilmenu > a {background: url(../img/main/nav_sitemap.png) no-repeat 50% 50%; width: 30px; height: 88px; overflow: hidden; background-size: 100% auto; transition: all 0.3s ease;}


/* hader 2depth */
div#wrap > div.header_wrap > div.content-box { height:0; overflow-x: visible; overflow-y: hidden; transition:height .2s; } 
div#wrap > div.header_wrap > div.content-box > ul > li { display:none; } 
div#wrap > div.header_wrap:hover div.content-box > ul > li.active { display:block; } 
div#wrap > div.header_wrap > div.content-box { position: relative; width:100%; } 
div#wrap > div.header_wrap > div.content-box > div.left-bg { position: absolute; background-image: url('../img/main/sub_bg.png'); background-position: top left; background-size: cover; background-repeat: no-repeat; width:300px; height: 400px; left:100px; overflow-x: visible; } 
div#wrap > div.header_wrap > div.content-box > div.left-bg2 { position: absolute; bottom: 0; right:0; } 
div#wrap > div.header_wrap > div.content-box > ul::after { content: ''; display: block; clear: both; } 
div#wrap > div.header_wrap > div.content-box > ul.sub-2depth { width:100%; position: absolute; overflow: hidden; } 
div#wrap > div.header_wrap > div.content-box > ul.sub-2depth > li > div.con { width:1200px; margin:0 auto; overflow: hidden; } 
div#wrap > div.header_wrap > div.content-box > ul.sub-2depth > li> div.con > div.left-title { position: absolute; top:40px; width:300px; min-height: 250px; height:270px; } 
div#wrap > div.header_wrap > div.content-box > ul.sub-2depth > li > div.con > div.left-title > span { font-size: 1.1rem; text-align: left; display:inline-block; width:100%; font-weight: 700; color:var(--mainFontColor); padding-bottom: 25px; } 
div#wrap > div.header_wrap > div.content-box > ul.sub-2depth > li > div.con > div.left-title > p.desc { font-size: 0.85rem; color:var(--mainFontColor); display: block; text-align: left; padding-top:15px; font-weight: 400; letter-spacing:-0.03em;} 
div#wrap > div.header_wrap > div.content-box > ul.sub-2depth > li > div.con > div.left-title > img.sub-img { width:100px; display: block; margin-top:20px;} 
div#wrap > div.header_wrap > div.content-box > ul.sub-2depth > li > div.con > div.left-title > div.left-bg2 {margin-left: 191px; } 
div#wrap > div.header_wrap > div.content-box > ul.sub-2depth > li > div.con > div.right-title { background-color: var(--fourColor); width:calc (100% - 600px); margin-left: 300px; } 

div#wrap > div.header_wrap > div.content-box > ul.sub-2depth > li > div.con > div.right-bg { background-color: var(--fourColor); z-index: -100; width:100%; margin-left: 300px; position: absolute; height: 500px; }

div#wrap > div.header_wrap > div.content-box > ul.sub-2depth > li > div.con > div.right-title > ul { padding-top:40px; } 
div#wrap > div.header_wrap > div.content-box > ul.sub-2depth > li > div.con > div.right-title > ul::after { content: ''; clear: both; display: block;}
div#wrap > div.header_wrap > div.content-box > ul.sub-2depth > li > div.con > div.right-title > ul > li { float: left; width:28%; text-align: center; line-height: 26px; margin: 10px 20px; padding-bottom: 30px; } 
div#wrap > div.header_wrap > div.content-box > ul.sub-2depth > li > div.con > div.right-title > ul > li > a { padding-left: 18px; padding-right: 24px; padding-top:10px; padding-bottom: 10px; border: 1px solid #ccc;  display: block; color:#666; font-size: 1rem; font-weight: 700; } 
div#wrap > div.header_wrap > div.content-box > ul.sub-2depth > li > div.con > div.right-title > ul > li > a:hover { background-color: var(--mainColor); color: var(--subFontColor); border-radius: 5px;} 






/* 메인화면 */
div.container { width: 100%; height: 100%; outline: 1px solid red;}
div.container > div.layout { width: 100%; height: 500px; background-color: #e9a2a2;}