@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body { font-family: 'Noto Sans KR', 'Roboto', sans-serif;}
* { margin: 0; padding: 0; box-sizing: border-box;}
a { color: inherit; text-decoration: none;}
li { list-style: none;}
img { display: block;} 


/* 색상 스타일 */
/* :root { --mainColor : #233DC3; --subColor : #23A6C3; --oneColor:#FF3C7F; --twoColor:#923CFF; --fourColor:#EDF2F6; --mainFontColor : #333333; --subFontColor : #ffffff;}
 */


/* 스킵네비 */
#skipNav { position: relative; z-index: 9999; text-align: center; } 
#skipNav a { position: absolute; top: -200px; left: 0; width: 100%; line-height: 30px; border: 1px solid #dedede; background-color: #000; color: #fff; } 
#skipNav a:focus,#skipNav a:active { top: 0; } 



