@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* common */
.inner {
  width: 1280px;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  width: 100%;
  height: 100%;
  line-height: normal;
  background: #fff;
  font-size: 14px;
  font-family: 'Noto Sans KR', 'Roboto', sans-serif;
  color: #000;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
menu,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
blockquote,
th,
td,
p {
  margin: 0px;
  padding: 0px;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
}

fieldset,
img,
abbr,
acronym {
  margin: 0px;
  border: 0px;
  _vertical-align: top;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul,
menu {
  list-style: none;
}

a,
em,
span {
  display: inline-block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

legend {
  position: absolute;
  visibility: hidden;
  height: 0;
  line-height: 0;
  font-size: 1px;
}

q:before,
q:after {
  content: '';
}

:after,
:before {
  display: none;
  content: '';
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

hr {
  display: none;
}

em {
  color: inherit;
  font-weight: normal;
  font-style: normal;
}

table caption {
  display: none;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: middle;
}

:focus {
  outline: none;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* 색상 스타일 */
:root {
  --mainColor: #233DC3;
  --subColor: #23A6C3;
  --oneColor: #FF3C7F;
  --twoColor: #923CFF;
  --fourColor: #EDF2F6;
  --mainFontColor: #333333;
  --subFontColor: #ffffff;
  --resetFontColor: #fff;
  --bgColorBlack: #000;
  --lineBaseColor: #dedede;
  --bgColorWhite: #fff;
}


/* layout */
div#wrap { width: 100%; }

/* skip nav */
div#skip_nav { position: relative; z-index: 100; text-align: center; } 
div#skip_nav a { position: absolute; top: -50px; left: 0; width: 100%; padding: 10px 0; border: 1px solid var(--lineBaseColor); background-color: var(--bgColorBlack); color: var(--resetFontColor); } 
div#skip_nav a:focus { top: 0; } 

/* Header */
.gnb-wrap { width: 100%;}
.gnb-wrap div.header__top_wrap { background-color: #696A70; padding: 10px 0; } 
.gnb-wrap div.header__top_wrap div.util { display: flex; justify-content: space-between; align-items: center;} 
.gnb-wrap div.header__top_wrap div.util p { font-size: 0.7rem; color: #ffffff; } 
.gnb-wrap div.header__top_wrap div.util ul { display: flex; justify-content: space-between; } 
.gnb-wrap div.header__top_wrap div.util li a { font-size: 0.7rem; color: #ffffff; margin-left: 10px; line-height: 16px; } 

.gnb-wrap .gnb-nav {
  position: relative;
  height: 88px;
  width: 100%;
  margin: 0 auto;
  transition: all 0.3s;
}

.gnb-wrap .gnb-nav .gnb-inner { max-width: 1280px; margin: 0 auto; display: flex; justify-content: space-between; align-items: flex-start}

.gnb-wrap h1 {margin-top: 24px;}
.gnb-wrap h1 img { width: 100%;}
.gnb-wrap h1 a {
}


.gnb-wrap .gnb {
}

.gnb-wrap .gnb nav {
  overflow: hidden;
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.gnb-wrap .gnb nav .menu {
  text-align: center;
  line-height: 0;
  font-size: 0;
}

.gnb-wrap .gnb nav .menu:after {
  content: '';
  clear: both;
  display: block;
}

.gnb-wrap .gnb nav .menu > li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  transition: padding .4s;
}

.gnb-wrap .gnb nav .menu > li:after {
  content: '';
  position: absolute;
  width: 1px;
  top: 88px;
  left: 0;
  bottom: 0;
  height: 500px;
  background: #DFE0E2;
}

.gnb-wrap .gnb nav .menu > li:first-child:after {
  display: none;
}

.gnb-wrap .gnb nav .menu > li > a {
  position: relative;
  display: block;
  width: 180px;
  height: 88px;
  font-size: 18px;
  line-height: 88px;
  color: #292929;
  background: #fff;
  font-weight: 600;
  padding: 0;
  text-align: center;
  z-index: 5;
  transition: .4s;
}

.gnb-wrap .gnb nav .menu > li:focus > a, .gnb-wrap .gnb nav .menu > li:hover > a, .gnb-wrap .gnb nav .menu > li > a.current {
  color: #1A399E;
}

.gnb-wrap .gnb nav .menu > li > a:focus {
  outline-offset: -2px;
  outline: 2px solid #000;
}

.gnb-wrap .gnb nav .menu > li:hover .sub:before {
  content: '';
  display: block;
  left: -19px;
  right: -20px;
  position: absolute;
  top: 0;
  height: 600px;
  background: #F7F7F7;
  z-index: -1;
}

.gnb-wrap .gnb nav .menu:hover > li {
  padding: 0 15px;
}

.gnb-wrap .gnb nav .menu:hover > li > a {
  font-size: 18px;
}

.gnb-wrap .gnb nav .menu > li:hover .sub:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -20px;
  right: -20px;
  height: 2px;
  background: #1A399E;
}

.gnb-wrap .gnb nav .sub {
  position: relative;
  padding: 30px 20px 52px;
  text-align: center;
  z-index: 1;
}

.gnb-wrap .gnb nav .sub > li {
  margin-top: 24px;
}

.gnb-wrap .gnb nav .sub > li:first-child {
  margin-top: 0;
}

.gnb-wrap .gnb nav .sub > li > span, .gnb-wrap .gnb nav .sub > li > a {
  display: block;
  font-size: 16px;
  color: #292929;
  line-height: 24px;
  text-align: left;
}

.gnb-wrap .gnb nav .sub > li > .current, .gnb-wrap .gnb nav .sub > li > span:hover, .gnb-wrap .gnb nav .sub > li > a:hover, .gnb-wrap .gnb nav .sub > li > a:focus {
  color: #1A399E;
  font-weight: 700;
}

.gnb-wrap .gnb nav .sub ul {
  margin-top: 8px;
}

.gnb-wrap .gnb nav .sub ul > li {
  margin-top: 8px;
}

.gnb-wrap .gnb nav .sub ul > li > a {
  position: relative;
  display: block;
  text-align: left;
  padding-left: 8px;
  color: #74757E;
  font-size: 14px;
  line-height: 21px;
}

.gnb-wrap .gnb nav .sub ul > li > a:hover, .gnb-wrap .gnb nav .sub ul > li > a:focus {
  color: #222;
  font-weight: 700;
}

.gnb-wrap .gnb nav .sub ul > li > a.current {
  color: #222;
  font-weight: 700;
}

/* .gnb-wrap:after { content: ''; position: fixed; top: 128px;  left: 0;  right: 0; background-color: rgba(0,0,0,.6); opacity: 0; z-index: -2;transition: all 0.2s ease-out; } */
.gnb-wrap .gnb nav .sub ul > li > a:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #EC008C;
}

.gnb-wrap:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: #fff;
}

.gnb-wrap.show .gnb:before {
  right: 0;
  box-shadow: 0 10px 20px rgb(0 0 0 / 6%);
}

.gnb-wrap.show .gnb-nav:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 88px;
  width: 100%;
  height: 1px;
  background: #DFE0E2;
  transition: .4s;
}

.gnb-wrap.show .gnb .sub {
  transition-delay: 0ms, 300ms;
}

.gnb-wrap .top-sch-group {
  position: absolute;
  top: 28px;
  right: 80px;
}

.gnb-wrap .top-sch-group .btn-sch, .gnb-wrap .top-sch-group .btn-global {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.gnb-wrap .top-sch-group .btn-sch:after, .gnb-wrap .top-sch-group .btn-global:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -12px;
  width: 24px;
  height: 24px;
  background: url(/resources/pc/images/common/ico_comm.svg) no-repeat 0 -40px;
}

.gnb-wrap .top-sch-group .btn-global:after {
  margin-left: -11px;
  background-position-x: -30px
}



/* toggle menu */
.gnb-wrap .gnb-nav .gnb-inner div.header__toggle_menu { display: none; position: absolute; top: 0; right: 0; width: 100%; background-color: #f3faff; z-index: 200px; padding: 30px 0; }
.gnb-wrap .gnb-nav .gnb-inner div.header__toggle_menu ul.gnb { width: 100%; display: flex; justify-content: space-between; }
.gnb-wrap .gnb-nav .gnb-inner div.header__toggle_menu ul.gnb > li { width: 200px; line-height: 50px; }
.gnb-wrap .gnb-nav .gnb-inner div.header__toggle_menu ul.gnb > li a { display: inline-block; font-size: 1.3rem; position: relative; font-weight: 700; }
.gnb-wrap .gnb-nav .gnb-inner div.header__toggle_menu ul.gnb > li a::before { bottom: 5%;  content: "";
  display: inline-block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #233DC3;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;  }
.gnb-wrap .gnb-nav .gnb-inner div.header__toggle_menu ul.gnb > li a:hover:before {width: 100%; 
    left: 0px;}

.gnb-wrap .gnb-nav .gnb-inner div.header__toggle_menu ul.gnb > li > ul > li > a { font-size: 1.1rem; font-weight: 500; }
.gnb-wrap .gnb-nav .gnb-inner div.header__toggle_menu ul.gnb > li > ul > li > ul > li {line-height: 30px; }
.gnb-wrap .gnb-nav .gnb-inner div.header__toggle_menu ul.gnb > li > ul > li > ul > li a { font-size: 0.9rem; font-weight: 400; }


.gnb-wrap .gnb-nav .gnb-inner div.header__toggle_button {
  display: flex; align-items: center; height: 88px;
}
.gnb-wrap .gnb-nav .gnb-inner div.header__toggle_button a { font-size: 30px;}
.gnb-wrap .gnb-nav .gnb-inner div.header__toggle__close__button {
  display: flex; align-items: center; height: 40px; transition: .5s; 
}
.gnb-wrap .gnb-nav .gnb-inner div.header__toggle__close__button:hover {
  transform: scale(1.5);
}

    /* footer__wrap */
    div.footer__wrap { width: 100%; margin-bottom: 5px; background-color: #DADADA;}
    div.footer__wrap .inner { display: flex; justify-content: space-between; align-items: center;}
    div.footer__wrap .inner .footer_left { width: calc(100% / 2); box-sizing: border-box; padding: 35px;}
    div.footer__wrap .inner .footer_left h3 {font-weight: 300;}
    div.footer__wrap .inner .footer_left p {font-size: 0.8rem; font-weight: 300; padding: 5px 0;}
    div.footer__wrap .inner .footer_left span { font-size : 0.9rem;}
    div.footer__wrap .inner .footer_left img { height: 40px; display: inline-block; margin-left: 30px;}
    
    div.footer__wrap .inner .footer_right {  width: calc(100% / 2); display: flex; gap: 40px; align-items: center; justify-content: center;}
    div.footer__wrap .inner .footer_right img { max-width: 100%; height: 5rem;}
  
  